<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

       <import resource="queries.xml"/>

       <context:component-scan base-package="com.epam.theater" />

       <jdbc:embedded-database id="dataSource">
              <jdbc:script location="classpath:db/schema.sql"/>
       </jdbc:embedded-database>

       <bean id="movieDao" class="com.epam.theater.dao.JdbcMovieDao">
              <property name="dataSource" ref="dataSource"/>
       </bean>
       <bean id="ticketDao" class="com.epam.theater.dao.JdbcTicketDao">
              <property name="dataSource" ref="dataSource"/>
       </bean>

       <bean id="movieService" class="com.epam.theater.service.MovieServiceImpl"/>
       <bean id="ticketService" class="com.epam.theater.service.TicketServiceImpl"/>

</beans>